#content{
    max-width:1600px;
    margin:0 auto;
}
nav a{
    text-align:center;
    color:#006B00;
    padding:25px 35px;
    font-size:1.5em;
    text-decoration:none;
}
#top-bar{
    background-color:#b7d9ff;
    margin-bottom:10px;
    padding-bottom:6px;
    display:grid;
    grid-template-columns: 150px auto;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
    
}
#hero-msg h1{
    text-align:center;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    
}
#hero-msg h4{
    color:white;text-align:center;
}
#hero-img{
    width:100%;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.button-box{
    text-align:center;
}
main section{
    text-align:center;
}
main section img{
    box-sizing:border-box;
}
#background{
    height:725px;
    background-color: #b7d9ff;
}
body{
    background-color: #bfbfbf;
    color:#006B00;
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #bfbfbf;
    color:#006B00;
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}
nav a:hover{
    background-color: #bfbfbf;
    color:#006B00;
    text-decoration:none;
}
.book, .join{
    background-color: #bfbfbf;
    color:#006B00;
    padding:15px 30px;
    margin-top:50px;
    border-radius:5px;
    text-decoration:none;
    border: 1px solid #4873d0
}
.book:hover,.join:hover{
    background-color: #b7d9ff;
    color:#006B00;
    text-decoration:none;
}
.msg{
    background-color: #b7d9ff;
    line-height: 1.5em;
    padding:35px;
}
footer{
    background-color: #bfbfbf;
    padding:25px 50px;
}
footer a{
    color:#006B00;
}
footer a:hover{
    color:#006B00;
    text-decoration:none;
}
footer p a:hover{
    text-decoration: none;
}
footer .social img{
    padding-top:15px;
}
.home-title{
    color:#006B00;
    font-size:2em;
    margin-top:10px;
}
h4{
    color:#006B00;
}
h2{
    margin:0;
}
.msg h2{
    color:#006B00;
}
.msg p{
    color:#006B00;
    padding-bottom:15px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}          
.icon{
    padding-top:10px;
    width:80px;
}
.rivers-card,.camping-card,.rapids-card{
    margin:200px;
}
.card-img{
    border:10px solid #4873d0;
}