@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family:'Roboto',Arial;
    margin:0 auto;
    background-color: #FFF;
}
header{
    margin:5px;
    background-color: #008000;
    color:#FFF;
    text-align: center;
    border-radius: 5px;
}
header a{
    color:#FFF;
    text-decoration: none;
    padding:10px;
    font-size: 32px;
    align-content: center;
    ;
}
nav{
    line-height: 3em;
    display:flex;
    align-content: center;
}
nav a:hover{
    background-color: #FFF;
    color:#000;
}
.tittle{
    background-color: #008000;
    color:#FFF;
    padding:20px;
    text-align: center;
    margin:0% 20%;
    margin-top:50px;
    border-radius: 5px;;
}
.card{
    margin:32px 20%;
    background-color: #008000;
    border-radius: 5px;
    padding:20px;
    color:#FFF;
    line-height: 1.5;
    float:left;
    font-size: 16px;
}
.card img{
    float:left;
    margin: 20px;
}
.card a{
    text-decoration: none;
    color:#FFF;
}
footer{
    margin:32px 5px;
    background-color: #008000;
    border-radius: 5px;
    padding:20px;
    color:#FFF;
    line-height: 1.5;
    font-size: 16px;
    display:flex;
    justify-content: space-around;
}
footer a{
    font-size:20px;
    color:#FFF;
}
footer a:hover{
    text-decoration: none;
}

@media screen and (max-width:900px){
    .card{
        margin:32px 5%;
    }
    .tittle{
        margin:0% 10%;
    }

}

